@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--speed) linear infinite;

  @keyframes scroll {
    0% {
      transform: translateY(0%);
    }

    5% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-110%);
    }
  }

}
