@import "tailwindcss";

:root {
  --background: #ffffff;
  --header: #404040;
  --main: #000000;
  --secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-header: var(--header);
  --color-main: var(--main);
  --color-secondary: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --header: #404040;
    --main: #ffffff;
    --secondary: #ffffff;
  }
} */

@theme inline {
  --animate-scrollA: scroll-a var(--speed) linear infinite;
  --animate-scrollB: scroll-b var(--speed) linear infinite;

  @keyframes scroll-a {
    0% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-105%);
    }
  }

  @keyframes scroll-b {
    0% {
      transform: translateY(25%);
    }

    100% {
      transform: translateY(-105%);
    }
  }
}

body {
  font-family: 'Public Sans';
  color: var(--color-main);
}
